@import url("https://fonts.googleapis.com/css?family=Trirong");

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #353b48;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #FD6569;
  width: 400px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px;

}

.box-container {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #70e6f3;
  overflow: hidden;
}

.cityInput {
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  padding: 5px;
}

.search-icon {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  height: 200px;
}

.temp {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #353b48;
  margin: 0;
}

.city {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #faa7aa;
}

.country {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: #353b48;
  margin-top: 8px;
}

.cord {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
  text-align: center;
}

.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cord div span {
  font-size: 20px;
}

.cord div span:nth-child(2) {
  font-size: 16px;
  color: #353b48;
  font-weight: bold;
  padding-top: 5px;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element {
  text-align: center;
}

.icon {
  width: 50px;
  margin-bottom: 10px;
}

.data {
  font-size: 14px;
}

.humidity-percentage,
.wind-percentage {
  color: #353b48;
  font-weight: 50px;
  font-size: 19px;
}

.last{
  font-size: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.last span{
  color: #353b48;
}

.loading-message,
.error-message,
.city-not-found{
  margin-top: 10px;
  color: #353b48;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}